### 1. Creating lists from Keys and Values of a dictionary and again converting back to dictionary

In [31]:
d1 = {'Name' : 'Andrea', 'Age' : 20, 'Occupation' : 'Engineer', 'Address': 'Italy'}

In [32]:
l1 = d1.keys()
l1

['Age', 'Address', 'Name', 'Occupation']

In [33]:
l2 = d1.values()
l2

[20, 'Italy', 'Andrea', 'Engineer']

In [34]:
d2 = dict(zip(l1, l2))
d2

{'Address': 'Italy', 'Age': 20, 'Name': 'Andrea', 'Occupation': 'Engineer'}

### 2. Fetching the Key-value pair from the dictionary having vowels in values

In [35]:
d2

{'Address': 'Italy', 'Age': 20, 'Name': 'Andrea', 'Occupation': 'Engineer'}

In [7]:
vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
for k, v in d2.items():
    for i in str(v):
        if i in vowels:
            print k,':', v
            break

In [22]:
for key,value in d2.items():

        if set('AEIOUaeiou').intersection(str(value)):
             print key,':', value

Occupation : Engineer
Name : Andrea
Address : Italy

In [49]:
from re import search

for key,value in d2.items():
    
    if bool(search("[AEIOUaeiou]",str(value))):
        print key,':', value

Occupation : Engineer
Name : Andrea
Address : Italy