# Accessing MariaDB

In [4]:
#Importing Libraries
import mysql.connector as ms 
import pandas
conn = ms.connect(host='localhost',        #Creating the connection
                  database='my_db',
                  user='parsa',
                  password='Welcome123@')
cursor = conn.cursor(dictionary=True)
conn

In [5]:
cursor.execute('''CREATE TABLE EMPLOYEE(
   FIRST_NAME CHAR(20) NOT NULL,
   LAST_NAME CHAR(20),
   AGE INT,
   SEX CHAR(1),
   INCOME FLOAT)''')

In [6]:
cursor.execute("""INSERT INTO EMPLOYEE(FIRST_NAME, LAST_NAME, AGE, SEX, INCOME) 
   VALUES ('Mac', 'Mohan', 20, 'M', 2000),('Priti', 'Soni', 23, 'F', 5000),('Neha', 'Roy', 26, 'F', 8000)""")

In [8]:
cursor.execute("SELECT * FROM EMPLOYEE")
result = cursor.fetchall()

AttributeError: 'list' object has no attribute 'encode'

In [ ]:
table_df = pandas.DataFrame.from_dict(result)
table_df

In [ ]:
conn.commit() #to save all changes

In [ ]:
cursor.execute("DROP TABLE EMPLOYEE") #to detele the table 
conn.close() #to close the current connection